</div>
<div class="container">

    <div>
        <hr class="mt-4 mb-3">
    </div>
    <p><i class='copyright outline icon'></i>2020 Tusachmienphi.com</p>
</div>
<script src="/js/scripts.js"></script>
</body>

</html>