<%- include('./partials/header.ejs');%>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="container-fluid border border-1 rounded">

                    <div class="row mt-3">
                        <div class="col-md-3">
                            <img class="img-thumbnail" src='<%=bookid.image%>'>
                        </div>
                        <div class="col-md-6">
                            <h3 style="color: green;">
                                <%=bookid.name%>
                            </h3>
                            <button class="btn btn-primary"><i class="ui thumbs up outline icon"></i>Thich:</button>
                            <button class="btn btn-primary">Chia se</button>
                            <p class="mt-2">Tac gia:</p>
                            <p>The loai:</p>
                            <p>Luot xem:</p>
                            <button class="btn btn-primary mb-1">Download</button>
                        </div>

                    </div>
                    <hr>
                    <div class="ui container segment mb-3">Sống ngăn cách với thế giới qua hẻm núi Copper Canyon (Mexico), người thổ dân Tarahumara đã tôi rèn khả năng chạy bộ hàng trăm dặm không ngơi nghỉ mà không gặp chấn thương nào. Nhà báo kỳ cựu đồng thời cũng là người chạy bộ hay mắc
                        chấn thương Christopher McDougall đã lên đường tìm bí mật của họ. Dọc hành trình, anh đưa người đọc từ phòng thí nghiệm ở Đại học Harvard xuống thung lũng nóng như nung, lên những đỉnh cao buốt giá xuyên miền Bắc Mỹ, quê hương
                        của người chạy bộ siêu phàm đẩy cơ thể đến cực hạn và cuối cùng là cuộc so tài thế kỷ trong hẻm núi Copper Canyon giữa những vận động viên chạy bộ cự phách nhất nước Mỹ và tộc người chạy bộ. Câu chuyện khó tin của McDougall không
                        chỉ cuốn hút trí não mà còn tiếp sinh lực cho cơ thể khi bạn nhận ra từ thẳm sâu bên trong, mình được SINH RA ĐỂ CHẠY. Sinh ra để chạy không phải là một cuốn sách giáo khoa về chạy bộ. Bạn sẽ không tìm thấy những kiến thức chuyên
                        sâu, có tính kỹ thuật của môn chạy bộ, hay các bài tập, hướng dẫn giúp bạn chạy được nhanh hơn, xa hơn. Thay vào đó, tác giả Christopher McDougall lại dẫn dắt người đọc vào một câu chuyện vượt cả không gian và thời gian, tới các
                        ngóc ngách tận cùng của Trái đất, đi ngược về lịch sử xa xưa của nhân loại, để tìm hiểu về chạy bộ như một trong những bản năng cơ bản nhất của con người. Đan quyện vào cuộc du hành xuyên thời gian, không gian đó, là câu chuyện
                        về những cá nhân cụ thể, có đời sống xã hội bình thường như mỗi chúng ta, nhưng khi xỏ chân vào đôi giày chạy và lướt xuống đường mòn, họ bỗng lột xác thành dị nhân siêu đẳng, với khả năng chạy bộ ở cự ly siêu dài trong thời gian
                        không tưởng. Và để đối chứng với những siêu nhân chạy bộ thời hiện đại ấy, Christopher đã tìm thấy một đối thủ hoàn hảo, một bộ tộc ẩn nấp sâu trong vùng núi cao Sierra ở Mexico, những người vẫn giữ được tác phong và lối sống thanh
                        bạch như chính tổ tiên của họ hàng nghìn năm trước, người Tarahumara. Cao trào của cuốn sách, là một cuộc tỷ thí vượt thời gian, một giải chạy vô tiền khoáng hậu, giữa những người chạy bộ giỏi nhất thời hiện đại của nước Mỹ và
                        những người thổ dân đại diện cho người chạy bộ nguyên thủy. Dù kể chuyện về những dị nhân siêu phàm nhất, nhưng tác giả Christopher McDougall đã khéo léo phản chiếu chính hình ảnh của bản thân mình, một người chạy bộ nhập môn,
                        vào mạch kể. Do đó, bất kỳ ai đọc Sinh ra để chạy cũng sẽ tìm thấy ở đâu đó hình bóng của chính mình trong sách. Cuốn sách không chỉ là một cuộc phiêu lưu, một cuộc tìm hiểu cội nguồn của chạy bộ, mà còn lột tả những cảm xúc chân
                        thực, những nỗi niềm suy nghĩ, những tình cảm buồn vui, những vỡ òa của các nhân vật xoay quanh từng bước chạy. Với những ai chưa từng chạy bộ, cuốn sách có thể là một lời giải đáp cho băn khoăn “chạy để làm gì?” hoặc “chạy bộ
                        có gì hay?”, còn đối với những người đã trót đem lòng yêu môn chạy bộ, cuốn sách là một thiên sử thi, vừa lãng mạn, vừa hùng tráng, tràn đầy lòng tự hào của một giống loài “Sinh ra để chạy”.</div>

                </div>

            </div>
            <div class="col-md-3">sidebar</div>
        </div>
    </div>

    <%- include('./partials/footer.ejs');%>