<%- include('./partials/header.ejs');%>
    <div class="ui text container segment">
        <div class="ui header center aligned">Thư Viện Ebook Miễn Phí</div>
    </div>
    <!-- <div class="ui container segment"> -->
    <!-- <div class="ui text container grid">
        <div class="eight wide column">

            <div class="ui segment">
                <p>Tâm Lý - Kỹ Năng Sống
                </p>
            </div>
        </div>
        <div class=" eight wide column">

            <div class="ui segment">
                <p>Y Học - Sức Khỏe</p>
            </div>
        </div>
    </div>
    <div class="ui text container grid">
        <div class="eight wide column">
            <div class="ui segment">
                <p>Marketing - Bán hàng</p>
            </div>

        </div>
        <div class="eight wide column">

            <div class="ui segment">
                <p>Học Ngoại Ngữ</p>
            </div>
        </div>
    </div>
    <div class="ui text container grid">
        <div class="eight wide column">

            <div class="ui segment">
                <p>Kinh Tế - Quản Lý</p>
            </div>
        </div>
        <div class="eight wide column">

            <div class="ui segment">
                <p>Khoa Học - Kỹ Thuật</p>
            </div>
        </div>
    </div> -->
    <!-- </div> -->

    <div class="ui three column grid" id='mg'>
        <div class="column">
            <div class="ui segment">
                <p>Thể Thao - Nghệ Thuật</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Trinh Thám - Hình Sự</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Văn Hóa - Tôn Giáo</p>
            </div>
        </div>
    </div>
    <div class="ui three column grid">
        <div class="column">
            <div class="ui segment">
                <p>Thể Thao - Nghệ Thuật</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Trinh Thám - Hình Sự</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Văn Hóa - Tôn Giáo</p>
            </div>
        </div>
    </div>
    <div class="ui three column grid">
        <div class="column">
            <div class="ui segment">
                <p>Thể Thao - Nghệ Thuật</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Trinh Thám - Hình Sự</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Văn Hóa - Tôn Giáo</p>
            </div>
        </div>
    </div>
    <div class="ui three column grid">
        <div class="column">
            <div class="ui segment">
                <p>Thể Thao - Nghệ Thuật</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Trinh Thám - Hình Sự</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Văn Hóa - Tôn Giáo</p>
            </div>
        </div>
    </div>
    <div class="ui three column grid">
        <div class="column">
            <div class="ui segment">
                <p>Thể Thao - Nghệ Thuật</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Trinh Thám - Hình Sự</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Văn Hóa - Tôn Giáo</p>
            </div>
        </div>
    </div>
    <div class="ui three column grid">
        <div class="column">
            <div class="ui segment">
                <p>Thể Thao - Nghệ Thuật</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Trinh Thám - Hình Sự</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Văn Hóa - Tôn Giáo</p>
            </div>
        </div>
    </div>
    <div class="ui three column grid">
        <div class="column">
            <div class="ui segment">
                <p>Thể Thao - Nghệ Thuật</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Trinh Thám - Hình Sự</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Văn Hóa - Tôn Giáo</p>
            </div>
        </div>
    </div>
    <div class="ui three column grid">
        <div class="column">
            <div class="ui segment">
                <p>Thể Thao - Nghệ Thuật</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Trinh Thám - Hình Sự</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Văn Hóa - Tôn Giáo</p>
            </div>
        </div>
    </div>
    <div class="ui three column grid">
        <div class="column">
            <div class="ui segment">
                <p>Thể Thao - Nghệ Thuật</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Trinh Thám - Hình Sự</p>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <p>Văn Hóa - Tôn Giáo</p>
            </div>
        </div>
    </div>


    <%- include('./partials/footer.ejs');%>