<%- include('./partials/header.ejs');%>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="card">
                    <div class="card-header">Kết quả tìm kiếm:
                        <%= results %>
                    </div>
                    <div class="card-body">
                        <div card-title> this is all books results</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-header">Sidebar</div>
                    <div class="card-body">
                        <div class="card-title">Something here</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./partials/footer.ejs'); %>